body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.item {
  height: 100px;
  background: lightblue;
  padding: 10px;
  text-align: center;
  margin: 0 100px;
}

.item:nth-child(even) {
  background: lightcoral;
}

#debug {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25px;
  left: 25px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 5px;
}

#debug div {
  width: 100%;
  display: flex;
}

#debug span {
  flex: 1;
  padding-right: 5px;
}

button {
  margin: 5px 0 0;
}
